.button {
  background-color: rgba(255, 153, 0, 1);
  color: white;
  border: none;
  padding: 1.5vh;
  width: inherit;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 30px 0;
}

.button:hover {
  background-color: rgba(255, 153, 0, 0.8);
}
